.number {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: grey;
    border: 4px solid yellow;
    color: white;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
    margin-right: 15px;
}
.button {
    padding: 15px;
    background-color: grey;
    border: 4px solid yellow;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    margin: 15px;
}